<!DOCTYPE html>
<html th:replace="~{layout/detailLayoutForm::detailLayout (~{::header},~{::section})}">
<head>
  <title>프로필편집</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
</head>
<body>
<header>
  <a href="/profile"><</a>
  <span>프로필 편집</span>
</header>

<section>
  <form id="edit" th:action="@{'/members/'+ ${member.id}}" method="post" enctype="multipart/form-data">
    <div class="image-container">

      <input type="file" id="fileInput" name="profileImage" style="display: none" />
      <img
              src="/img/profile.png"
              alt="Click to Upload"
              id="uploadImage"
      />
    </div>
    <hr />
    <div class="profile_container">
    <div>
      <label for="name">이름</label>
      <input
              type="text"
              id="name"
              name="name"
              th:value="${member.name}"
              placeholder="이름"
      />
    </div>
    <div>
      <label for="age">나이</label>
      <input
              type="number"
              id="age"
              placeholder="나이"
              name="age"
              th:value="${member.age}"
              min="0"
              max="100"
      />
    </div>
    <div>
      <label for="address_kakao">주소</label>
      <input
              type="text"
              id="address_kakao"
              name="address"
              th:value="${member.address}"
              placeholder="주소"
              required
              readonly
      />
    </div>
    <div class="gender-container">
      <input type="radio" id="female" th:field="${member.gender}" value="F" th:checked="${member.gender == 'F'}"/>
      <label for="female">여자</label>
      <input type="radio" id="male" th:field="${member.gender}" value="M" th:checked="${member.gender=='M'}"/>
      <label for="male">남자</label>
    </div>
    </div>
  </form>
  <div th:class="alert" th:if="${status ==true}">
  <p th:text="수정완료">성공</p>
  </div>
<button type="submit" class="btn" form="edit">수정</button>

<!-- Kakao 우편번호 서비스 -->
<!-- https://postcode.map.daum.net/guide -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  window.onload = function () {
    document
            .getElementById('address_kakao')
            .addEventListener('click', function () {
              new daum.Postcode({
                oncomplete: function (data) {
                  document.getElementById('address_kakao').value = data.address;
                },
              }).open();
            });
  };
  document
          .getElementById('uploadImage')
          .addEventListener('click', function () {
            document.getElementById('fileInput').click();
          });

  document
          .getElementById('fileInput')
          .addEventListener('change', function (event) {
            var selectedFile = event.target.files[0];

            if (selectedFile) {
              displaySelectedImage(selectedFile);
            } else {
              document.getElementById('uploadImage').src = '/end/img/profile.png';
            }
          });

  function displaySelectedImage(file) {
    var reader = new FileReader();

    reader.onload = function (e) {
      document.getElementById('uploadImage').src = e.target.result;
    };
    reader.readAsDataURL(file);
  }
</script>
</section>
</body>
</html>
