<!DOCTYPE html>
<html th:replace="~{layout/detailLayoutForm::detailLayout (~{::header},~{::section})}">
<head>
  <title>프로필편집</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
</head>
<body>
<header>
  <a href="/profile"><</a>
  <span>프로필 편집</span>
</header>

<section>
  <div class="editForm-container">
  <form id="edit" th:action="@{'/members/'+ ${member.id}}" method="post" enctype="multipart/form-data">
    <div class="image-container">
      <input type="file" id="fileInput" name="profileImage" style="display: none" />
      <img th:if="${member?.profileImage?.profileImageUrl}" th:src="${member?.profileImage?.profileImageUrl}"
           alt="Click to Upload" class="uploadImage"/>
      <img th:unless="${member?.profileImage?.profileImageUrl}" src="/img/unnamed.png" alt="Click to Upload"
              class="uploadImage"/>
      <button type="button" class="button" onclick="cancelFileSelection()">취소</button>
    </div>
    <hr />
    <div class="profile_container">
    <div class="profile_container_row">
      <label for="name">이름</label>
      <input
              type="text"
              id="name"
              name="name"
              th:value="${member.name}"
              placeholder="이름"
      />
    </div>
    <div>
      <div class="profile_container_row">
      <label for="age">나이</label>
      <input
              type="number"
              id="age"
              placeholder="나이"
              name="age"
              th:value="${member.age}"
              min="0"
              max="100"
      />
      </div>
    </div>
    <div>
      <div class="profile_container_row">
      <label for="address_kakao">주소</label>
      <input
              type="text"
              id="address_kakao"
              name="address"
              th:value="${member.address}"
              placeholder="가까운 모임을 추천해 드릴게요 :)"
              readonly
      />
      </div>
    </div>
    <div class="gender-container">
      <input type="radio" id="female" th:field="${member.gender}" value="F" th:checked="${member.gender == 'F'}"/>
      <label for="female">여자</label>
      <input type="radio" id="male" th:field="${member.gender}" value="M" th:checked="${member.gender=='M'}"/>
      <label for="male">남자</label>
    </div>
    </div>
  </form>
    <div class="alert" th:class="alert" th:if="${status ==true}">
      <p th:text="|프로필 변경 완료|">성공</p>
    </div>
    <button type="submit" class="btn" form="edit">수정</button>

  </div>

<!-- Kakao 우편번호 서비스 -->
<!-- https://postcode.map.daum.net/guide -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script>

  window.onload = function () {
    document
            .getElementById('address_kakao')
            .addEventListener('click', function () {
              new daum.Postcode({
                oncomplete: function (data) {
                  document.getElementById('address_kakao').value = data.address;
                },
              }).open();
            });
  };

  document.addEventListener('DOMContentLoaded', function () {

    var images = document.querySelectorAll('.uploadImage');

    images.forEach(function (image) {
      image.addEventListener('click', function () {
        document.getElementById('fileInput').click();
      });
    });

      var fileInput = document.getElementById('fileInput');
      var image = document.querySelector('.uploadImage');

      fileInput.addEventListener('change', function (event) {
        var selectedFile = event.target.files[0];

        if (selectedFile) {
          displaySelectedImage(image, selectedFile);
        } else {
          image.src= '/img/profile.png'
        }
      });

      function displaySelectedImage(image, file) {
        var reader = new FileReader();

        reader.onload = function (e) {
          console.log("File loaded successfully");
          image.src = e.target.result;
        };

        reader.onerror = function (e) {
          console.error("Error loading file:", e.target.error);
        };

        if (file) {
          reader.readAsDataURL(file);
        } else {
          console.error("Invalid file object");
        }
      }
    });

    function cancelFileSelection() {
    // 파일 입력 필드 초기화
    document.getElementById('fileInput').value = '';
    // 이미지 초기화 (원하는 경우)
    document.querySelector('.uploadImage').src = '/img/unnamed.png';
  }

</script>
</section>
</body>
</html>
