<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
</head>
<body>

<div class="container mt-5">
    <h2>로그인</h2>
    <form th:action="@{/members/login}" method="post">
        <div class="form-group">
            <label for="loginId">이메일:</label>
            <input type="email" class="form-control" id="loginId" name="loginId" required>
        </div>
        <div class="form-group">
            <label for="password">패스워드:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>

</body>
</html>
