<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <title>SEOMOIM</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
  <link rel="stylesheet" href="/css/login.css"/>
  <!--알림을 위해 Toastify CDN추가-->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>
<body>

  <div class="main-container">
   <img src="/img/logo.png" alt="로고"/>
   <p class="main-item">안녕하세요.</p>
   <p class="main-item">SEOMOIM입니다.</p>
   <p class="submain-item">회원 서비스 이용을 위해 로그인 해주세요.</p>
  </div>


  <div class="container">
    <form id="loginForm" action="/process_login" method="post">
      <input
              type="text"
              id="username"
              name="username"
              placeholder="아이디"
              required
      />
      <input
              type="password"
              id="password"
              name="password"
              placeholder="비밀번호"
              required
      />
      <div th:if="${param.error != null}" class="alert">
        <p>아이디 또는 비밀번호를 확인해주세요.</p>
      </div>

    </form>
    <div>
      <p>아이디 찾기</p>
      <p>|</p>
      <a href="http://localhost:8080/oauth2/authorization/google"><p>Google 로그인</p></a>
      <p>|</p>
      <p class="singupform" onclick="signupForm()">회원가입</p>
    </div>
    <div th:class="alert" th:if="${authSuccess!= null}">
      <p th:text="${authSuccess}">인증 성공</p>
    </div>
  </div>

  <button type="submit" class="btn" form="loginForm">로그인하기</button>


  <script th:inline="javascript">
    function signupForm() {
      window.location.href = '/signup-form';
    }

    window.onload = function () {

      var successValue = /*[[${success}]]*/ false;

      if (successValue) {
        Toastify({
          text: '회원가입 완료',
          duration: 3000,
          gravity: 'center',
          position: 'center',
          backgroundColor: '#d96a7e',
          close: true
        }).showToast();
      }
    };
</script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>
</html>


<!-- <div>
      <input
        type="checkbox"
        class="form-check-input"
        id="rememberMe"
        name="rememberMe"
      />
      <div></div>
      <labelfor="rememberMe">로그인 상태 유지</label>
    </div> -->

<!-- <p>-3초만에 간편하게 시작-</p>
    <button class="kakao-login-btn" onclick="loginWithGoogle()">
      Google로 로그인
    </button> -->
