<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Moim 상세 페이지</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <style>
        .navbar-brand {
            color: #41464b;
            font-weight: bold;
        }
        nav.navbar {
            max-width: 1100px;
            margin: 0 auto;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="/loginHome">SEOMOIM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09"
                aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <form class="form-inline my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button type="button" class="btn btn-dark">검색</button>
                </div>
            </div>
        </form>
    </nav>
    <div class="container mt-5">
        <div>
            <h5 class="modal-title" th:text="${moim.title}">모임 상세 정보</h5>
            <h6><strong>시간:</strong> <span
                    th:text="${#temporals.format(moim.startedAt, 'yyyy-MM-dd HH:mm')}">일시 및 시간</span></h6>
            <h6><strong>위치:</strong> <span th:text="${moim.region}">위치 정보</span></h6>
            <p><strong>모집자:</strong><span th:text="${moim.member.getName()}">모집자</span></p>
            <p><strong>참여자수/모집인원:</strong><span th:text="${moim.participantCount}">참여자수</span><span>/</span>
                <span th:text="${moim.totalParticipantCount}">모집인원</span></p>
            <p><strong>내용:</strong><span th:text="${moim.content}">내용</span></p>
            <!-- 기타 정보 추가 -->
            <button type="button" class="btn btn-outline-danger" id="likeButton">좋아요</button>
            <button type="button" class="btn btn-outline-danger" id="cancelLikeButton">좋아요취소</button>
            <button type="button" class="btn btn-outline-secondary" id="joinButton">참여
            </button>
            <button type="button" class="btn btn-outline-secondary" id="notJoinButton">참여취소
            </button>
        </div>

        <script th:inline="javascript">

        var editButton = document.getElementById('likeButton');

        editButton.addEventListener('click', function () {
        /*<![CDATA[*/
        var moimId = /*[[${moim.id}]]*/ null;
        var memberId = /*[[${member.id}]]*/ null;
        /*]]>*/
        var url = '/like/' + memberId + '/' + moimId;

        fetch(url, {
        method: 'POST',
        })
        });
        </script>

        <script th:inline="javascript">

        var editButton = document.getElementById('cancelLikeButton');

        editButton.addEventListener('click', function () {
            /*<![CDATA[*/
            var moimId = /*[[${moim.id}]]*/ null;
            var memberId = /*[[${member.id}]]*/ null;
            /*]]>*/
            var url = '/like/' + memberId + '/' + moimId;

            fetch(url, {
                method: 'DELETE',
            })
        });
        </script>

        <script th:inline="javascript">

            var editButton = document.getElementById('joinButton');

            editButton.addEventListener('click', function () {
                /*<![CDATA[*/
                var moimId = /*[[${moim.id}]]*/ null;
                var memberId = /*[[${member.id}]]*/ null;
                /*]]>*/
                var url = '/moims/' + moimId + '/' + memberId;

                fetch(url, {
                    method: 'POST',
                })
            });
        </script>
        <script th:inline="javascript">

            var editButton = document.getElementById('notJoinButton');


            editButton.addEventListener('click', function () {
                /*<![CDATA[*/
                var moimId = /*[[${moim.id}]]*/ null;
                var memberId = /*[[${member.id}]]*/ null;
                /*]]>*/
                var url = '/moims/' + moimId + '/' + memberId;

                fetch(url, {
                    method: 'DELETE',
                })
            });
        </script>


    </div>
</div>
</div>
</div>

    <!-- 부트스트랩 및 jQuery 스크립트 추가 (옵션) -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
