<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<title>seomoim</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<body>
<div class="container">
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>모임제목</th> <th>모집자</th> <th>모임날짜</th> <th>모임위치</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="moim : ${moimlist}">
        <td th:text="${moim.title}"></td>
        <td th:text="${moim.member.name}"></td>
        <td th:text="${moim.startedAt}"></td>
        <td th:text="${moim.region}"></td>
      </tr>
<!--    자-->
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>