
<body>
<footer th:fragment="footer">
  <a href="/"><img src="/home.png" alt="home" /><span>홈</span></a>

  <a><img src="/search.png" alt="search" /><span>검색</span></a>

  <a><img src="/alarm.png" alt="alarm" /><span>알림</span></a>

  <a
  ><img src="/profile.png" alt="profile.png" /><span
  >프로필</span
  ></a
  >
</footer>
</body>
</html>



<!--<footer class="navbar-fixed-bottom">-->
<!--  <nav>-->
<!--    <a href='#' target='_blank'>Blog</a> |-->
<!--    <a href='#' target='_blank'>Github</a>-->
<!--  </nav>-->
<!--  <p>-->
<!--    <span>Reference : https://developers.kakao.com</span><br>-->
<!--    <span>Source Code : https://github.com/seoeunjeong/soloproject</span><br>-->
<!--    <span>Copyright 2023. EunJeong-Seo. All Rights Reserved.</span>-->
<!--  </p>-->
<!--</footer>-->