.total-card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 280px;
    overflow: auto;
}
.today-card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 140px;
    overflow: auto;

}
.popular-card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    height: 140px;
    overflow: auto;

}
.division{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #bebebe;
    width: 10%;
    border-radius: 20%;
    margin-bottom: 10px;

}
.total-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.total-title a{
    font-size: 14px;
    font-width: 400;
}


.card {
    border: 1px solid #feb1b1;
    border-radius: 20px;
    font-size: 15px;
    width: 180px;
    height: 110px;
    box-sizing: border-box;
    margin: 8px 3px;
}

.total-card-container a,
.today-card-container a,
.popular-card-container a{
    text-decoration: none;
}


.categry {
    display: inline-block;
    background-color: #5b93f5;
    border: none;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    margin: 0 0;
}
.dday {
    display: inline-block;
    background-color: rgb(222, 228, 156);
    border: none;
    font-size: 12px;
    color: black;
    border-radius: 5px;
    margin: 0 0;
}

.card-title {
    font-weight: 600;
    font-size: 15px;
    color: rgb(46, 45, 45);
    margin-top: 5px;
}
.card-text {
}

.card-text > span {
    font-size: 18px;
}

.card-text > strong {
    color: #5a5757;
    font-weight: 500;
    font-size: 11px;
}

.card-text > span {
    color: rgb(13, 13, 13);
    font-size: 13px;
}

.participant-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 3px;
}
.participant {
    display: flex;
    flex-direction: row;
}

.participant img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: -0.5em;
}

.participant-detail{
    border: none;
}
.participant-container strong,
.participant-container span{
    font-size: 13px;
    color:rgb(46, 45, 45);
}


.card:hover {
    transform: scale(1.05);
}

.search-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    text-align: center;
    justify-content: center;

}

.search-container button img{
    width: 30px;
    height: 30px;
    background-color: white;

}

.search-container input{
    width: 140px;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #818181;
}
.search-button{
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #d96a7e;
    border: 2px solid #d96a7e;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.search-container form button:hover {
    background-color: #ffbebe;
    border-color: #ffbebe;
}
.result-container{
    width: 100%;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.08);
}

.image-container {
    display: flex;
    justify-content: center;
}
.image-container img {
    width: 100px;
    height: 100px;
    border: 1px solid #b9b7b7;
    border-radius: 50%;
}
.info-container {
    margin: 20px 20px;
}
.info-container .item1 {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

.email {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-button {
    padding: 10px 20px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #d96a7e;
    border: 2px solid #d96a7e;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.info-container .item2 {
    font-size: 17px;
}
.day {
    display: flex;
    flex-display: row;;
    align-items: center;
    margin-top: 10px;
}
.day .item3 {
    font-size: 15px;
    font-weight: 600;
    margin-right: 10px;
}

.day .item4{
    font-size: 15px;
    font-weight: 200;

}

.create-container {
    display: flex;
    position: absolute;
    margin: 30px 20px;
}
.like-container {
    position: absolute;
    margin: 150px 20px;
}
.latest-container {
    position: absolute;
    margin: 300px 20px;
}



hr {
    width: 100%;
    margin: 5px 0px;
    border-top: 1px solid #ddd;
}



.post-but {
    position: fixed;
    font-size: 25px;
    border-radius: 50%;
    border: none;
    background-color: #d96a7e;
    color: #fff;
    bottom: 85px;
    right: 10px;
    padding: 10px 20px;
}

