@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nanum Gothic', serif, sans-serif;
  flex-direction: column;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding: 50px 30px;
}
.main-container img {
  width: 25%;
  height: auto;
  border-radius: 50%;
  margin-bottom: 30px;
}

.main-container .main-item {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: -0.5px;
}
.main-container .submain-item {
  margin-top: 40px;
  font-size: 15px;
  color: #948f8f;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 30px;
  margin-top: -30px;
}

.container input {
  border: none;
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  width: 100%;
  padding: 20px 0px;
}
input:focus {
  outline: none;
  border-bottom: 2px solid #206aea;
}

.container p {
  display: flex;
  align-items: center;
  display: inline-block;
  margin-top: 30px;
  color: #000;
  font-size: 13px;
  font-weight: 500;
}
.container p:not(:first-child) {
  margin-left: 10px;
}

.btn {
  position: fixed;
  bottom: 0;
  width: 100vw;
  border: none;
  height: 45px;
  background-color: #206aea;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-right: 1px;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  position: fixed;
  width: 100%;
  height: 50px;
  bottom: 0;
  border-radius: 10%;
  padding-bottom: 15px;
  padding-top: 1px;
}

footer a img {
  width: 20px;
  height: 20px;
  margin: auto 30px;
  filter: opacity(40%);
  display: block;
}
footer a span {
  font-size: 10px;
  color: #666;
}

footer a {
  text-decoration: none;
}
footer a:active {
  color: #000;
}
footer a:hover {
  color: #000;
}

.alert p{
  margin-top: 0px;
  color: darkred;
}

.field-error-input{
  border-bottom: 2px solid darkred;
  font-size: 12px;
}

.field-error{
  color: darkred;
  font-size: 12px;
}