<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>seomoim</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <style>
        /* 추가한 CSS 스타일 */
        .card {
            transition: transform 0.2s;
            border-radius: 30px;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card-title {
            color: #007bff;
            font-size: 30px;
        }
        .category-btn {
            margin-bottom: 0.5rem; /* 카테고리 버튼과 모임 타이틀 간 간격 조정 */
        }

        .card-text {
            margin-top:0.5rem;
            color: #555;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="/">SEOMOIM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarExample09">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">카테고리</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                        <a class="dropdown-item" href="#">STUDY</a>
                        <a class="dropdown-item" href="#">EXERCISE</a>
                        <a class="dropdown-item" href="#">TRAVEL</a>
                        <a class="dropdown-item" href="#">EAT</a>
                        <a class="dropdown-item" href="#">DRINK</a>
                        <a class="dropdown-item" href="#">COFFEE</a>

                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-dark">검색</button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav ml-auto order-md-last">
                <li class="nav-item">
                    <a class="nav-link" href="/members/{member-id}" th:text="|마이페이지: ${member.email}|">회원정보</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/members/logout">로그아웃<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary"><strong>+</strong>모임등록하기</button>
                <button type="button" class="btn btn-outline-danger">관심모임보기</button>
            </li>
        </ul>
    </nav>

    <main role="main">
        <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
                <h1>SEOMOIM</h1>
                <p>지속적인 모임활동은 부담스럽지만 1회성 모임을 참여하고 싶은 사람들을 위한</br>
                    카테고리 와 위치 기반으로 모임을 만들고 참여할 수 있는 커뮤니티</p>
                <p>지금 시작해보세요</p>
                <p>
                    <a class="btn btn-primary" href="/docs/4.3/components/navbar/" role="button">추천모임 보러가기 »</a>
                </p>
            </div>
        </div>
    </main>

    <div class="container mt-5">
        <div class="row">
            <!-- Thymeleaf를 사용하여 리스트 출력 -->
            <div class="col-md-4 mb-3" th:each="moim:${moims}">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-start">
                        <!-- 카테고리 버튼 -->
                        <button type="button" class="btn btn-info mb-2 category-btn" th:text="${moim.moimCategory}">카테고리명</button>

                        <!-- 모임 제목 -->
                        <h5 class="card-title mb-0" th:text="${moim.title}">모임 제목 1</h5>

                        <!-- 시간 및 위치 정보 -->
                        <p class="card-text">
                            <strong>시간:</strong> <span th:text="${moim.createdAt}">일시 및 시간</span><br/>
                            <strong>위치:</strong> <span th:text="${moim.region}">위치 정보</span>
                        </p>

                        <!-- 참여자 수 -->
                        <p class="participant-count">
                            <strong>참여자 수:</strong><span th:text="${moim.participantCount}">0명</span><span>/</span><span th:text="${moim.totalParticipantCount}">전체참여자수</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- 여러 모임을 동적으로 출력할 수 있도록 Thymeleaf를 사용하여 리스트를 반복합니다. -->
        </div>
    </div>
