<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <title>seomoim</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta
          name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />
  <link rel="stylesheet" href="/css/login.css" />
</head>
<body>
<div class="image-container">
  <a href="#"><img src="/img/profile.png" /></a>
  <span class="text-over-image">편집</span>
</div>

<div>
  <h3>name</h3>
  <p>email</p>
</div>
  <div class="container">
    <img src="profile.jpg" alt="프로필 사진">
    <button>등록</button>
    <hr>
    <p><strong th:text="${member.name}">이름</strong></p>
    <hr>
    <p th:if="${param.status}" th:text="'저장 완료'"></p>
    <div class="profile-info">
      <strong>이메일</strong><p th:text="${member.email}">이메일주소</p>
    </div>
    <div class="profile-info">
      <strong>나이</strong><p th:text="${member.age}?: _">나이 정보를 입력해주세요</p>
    </div>
    <div class="profile-info">
      <strong>성별</strong><p th:text="${member.gender}?: _">성별 정보를 입력해주세요</p>
    </div>
    <div class="profile-info">
      <strong>주소</strong><p th:text="${member.address}?: _">주소 정보를 입력해주세요</p>
    </div>
    <div class="profile-info">
      <strong>가입일</strong><p th:text="${#temporals.format(member.createdAt, 'yyyy-MM-dd HH:mm:ss')}">가입일</p>
    </div>
    <button id="editButton">수정</button>
  </div>



  <script th:inline="javascript">
    var memberId = /*[[${member.id}]]*/ '';

    var editButton = document.getElementById('editButton');

    editButton.addEventListener('click', function () {
      // 수정 버튼이 클릭되면 지정된 URL로 이동
      window.location.href = './edit/' + memberId;
    });
  </script>

  <div class="container">
    <h3>모임관리</h3>
    <table>
      <thead>
      <th>제목</th>
      <th>전체인원수</th>
      <th>참여인원수</th>
      <th>모임일</th>
      <th>모임장소</th>
      </thead>
      <tbody>
      <tr th:each=" moim :${moimList}">
      <td th:text="${moim.title}"></td>
      <td th:text="${moim.totalParticipantCount}"></td>
      <td th:text="${moim.participantCount}"></td>
      <td th:text="${moim.startedAt}"></td>
      <td th:text="${moim.region}"></td>

      </tr>
  </tbody>
    </table>
  </div>

</body>
</html>