<!DOCTYPE html>
<html th:replace="~{layout/layoutForm::layout (~{::header},~{::section})}">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>알림</title>
</head>
<body>

<header>
  <a href="/"><span>SEOMOIM</span></a>
  <a href="/member/logout"><p>로그아웃</p>
    <img src="/img/logout.png" alt="logout.png"/></a>
</header>

<section>
  <div class="alarm-item">

<!--  <a href="/chatRoom/chat-form/roomId/">-->
<!--    <div class="chat-container">-->
<!--      <img src="/img/profile2.png">-->
<!--      <div class="chat-item">-->
<!--        <span>서은정</span>-->
<!--        <p>내용</p>-->
<!--      </div>-->
<!--      <div class="chat-info">-->
<!--        <p>전송시간</p>-->
<!--        <p>1개</p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </a>-->


  <button class="post-but" id="postButton">+</button>
  </div>


  <script th:inline="javascript">
    var stompClient = null;
    var memberId = /*[[${memberId}]]*/ null;
    var chatRoomIds = /*[[${#strings.arrayJoin(chatRoomIds, ',') }]]*/ null;

    function connect() {
      var socket = new SockJS('/chat');

      stompClient = Stomp.over(socket);

      stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);

        var roomIdArray = chatRoomIds.split(',');
        // Subscribe to each chat room

        roomIdArray.forEach(function (roomId) {
          stompClient.subscribe('/sub/chatMessage/' + roomId, function (response) {
            var messageContent = JSON.parse(response.body);
            handleReceivedMessage(messageContent);
          });
        });
      });
    }

    var senderName;
    var roomId;
    var content
    var createdAt;
    var senderId;

    function handleReceivedMessage(message) {
      console.log('받은 메시지:', message);
      content = message.content;
      senderId= message.senderId;
      senderName = message.senderName;
      createdAt = new Date(message.createdAt).toLocaleString('ko-KR', { hour12: true, hour: 'numeric', minute: 'numeric' });
      roomId = message.roomId;

      var newChatItem = `
    <a href="/chat/chat-form/${roomId}/${senderId}">
      <div class="chat-container">
        <img src="/img/profile2.png">
        <div class="chat-item">
          <span>${senderName}</span>
          <p>${content}</p>
        </div>
        <div class="chat-info">
          <p>${createdAt}</p>
          <p>1개</p>
        </div>
      </div>
    </a>`;

      console.log('newChatItem:', newChatItem);

      // Append the new chat item to the '.alarm-item'
      $('.alarm-item').append(newChatItem);

    }


    document.addEventListener('DOMContentLoaded', function () {
      connect();
    });


    const postButton = document.getElementById('postButton');
    postButton.addEventListener('click', function () {
      window.location.href = '/moims/post-form'
    });
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
</section>

</body>
</html>
