<!DOCTYPE html>
<html th:replace="~{layout/layoutForm::layout (~{::header},~{::section})}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로필</title>
  </head>
  <style>
    header a img,
    header a p {
      color: #d96a7e;
      filter: opacity(100%);
    }
  </style>
<body>
<header>
  <a href="/"><span>SEOMOIM</span></a>
  <a href="/member/logout"><p>로그아웃</p>
    <img src="/img/logout.png" alt="logout.png"
    /></a>
</header>
<section>
  <p>알림구현할테야</p>
  <button class="post-but" id="postButton">+</button>

  <script th:inline="javascript">

    const postButton = document.getElementById('postButton');
    postButton.addEventListener('click', function () {
      window.location.href = '/moims/post-form'
    });
  </script>
</section>


</body>
</html>
