<!DOCTYPE HTML>
<html th:replace="~{layout/layoutForm::layout (~{::header},~{::section})}">
<header>
    <a><span>SEOMOIM</span></a>
    <a
    ><p>로그아웃</p>
        <img src="/img/logout.png" alt="logout.png"
        /></a>
</header>
<section>
    <h4>전체 모임</h4>
    <div class="card-container">
    <div th:each="moim:${moims}">
        <a th:href="@{/moims/{moimId}(moimId=${moim.id})}">
            <div class="card">
                <div>
                    <p class="categry" th:text="${moim.moimCategory}">
                        카테고리명
                    </p>
                    <p class="dday">D-Day</p>
                </div>
                <h3 class="card-title" th:text="${moim.title}">모임 제목 1</h3>
                <p class="card-text">
                    <strong>장소 |</strong>
                    <span th:text="${moim.region}">위치 정보</span><br/>
                    <strong>일시 |</strong>
                    <span
                            th:text="${#temporals.format(moim.startedAt, 'yyyy-MM-dd HH:mm')}"
                    >일시 및 시간</span
                    ><br/>
                </p>

                <div class="participant" th:each="people:${moim.getParticipant()}">
                    <img
                            th:src="${people.getMember().getProfileImgUri()}"
                            alt="Image"
                    />
                    <div>
                        <strong>참여자 </strong
                        ><span th:text="${moim.participantCount}">0명</span
                    ><span>/</span
                    ><span th:text="${moim.totalParticipantCount}"
                    >전체참여자수</span
                    >
                    </div>
                </div>
            </div>
        </a>
    </div>
    </div>
    <h4>Today 모임</h4>
    <div class="card-container">
        <div th:each="moim:${moims}">
            <a th:href="@{/moims/{moimId}(moimId=${moim.id})}">
                <div class="card">
                    <div>
                        <p class="categry" th:text="${moim.moimCategory}">
                            카테고리명
                        </p>
                        <p class="dday">D-Day</p>
                    </div>
                    <h3 class="card-title" th:text="${moim.title}">모임 제목 1</h3>
                    <p class="card-text">
                        <strong>장소 |</strong>
                        <span th:text="${moim.region}">위치 정보</span><br/>
                        <strong>일시 |</strong>
                        <span
                                th:text="${#temporals.format(moim.startedAt, 'yyyy-MM-dd HH:mm')}"
                        >일시 및 시간</span
                        ><br/>
                    </p>

                    <div class="participant" th:each="people:${moim.getParticipant()}">
                        <img
                                th:src="${people.getMember().getProfileImgUri()}"
                                alt="Image"
                        />
                        <div>
                            <strong>참여자 </strong
                            ><span th:text="${moim.participantCount}">0명</span
                        ><span>/</span
                        ><span th:text="${moim.totalParticipantCount}"
                        >전체참여자수</span
                        >
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h4>마감임박 모임</h4>
    <div class="card-container">
        <div th:each="moim:${moims}">
            <a th:href="@{/moims/{moimId}(moimId=${moim.id})}">
                <div class="card">
                    <div>
                        <p class="categry" th:text="${moim.moimCategory}">
                            카테고리명
                        </p>
                        <p class="dday">D-Day</p>
                    </div>
                    <h3 class="card-title" th:text="${moim.title}">모임 제목 1</h3>
                    <p class="card-text">
                        <strong>장소 |</strong>
                        <span th:text="${moim.region}">위치 정보</span><br/>
                        <strong>일시 |</strong>
                        <span
                                th:text="${#temporals.format(moim.startedAt, 'yyyy-MM-dd HH:mm')}"
                        >일시 및 시간</span
                        ><br/>
                    </p>

                    <div class="participant" th:each="people:${moim.getParticipant()}">
                        <img
                                th:src="${people.getMember().getProfileImgUri()}"
                                alt="Image"
                        />
                        <div>
                            <strong>참여자 </strong
                            ><span th:text="${moim.participantCount}">0명</span
                        ><span>/</span
                        ><span th:text="${moim.totalParticipantCount}"
                        >전체참여자수</span
                        >
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <h4>인기있는 모임</h4>
    <div class="card-container">
        <div th:each="moim:${moims}">
            <a th:href="@{/moims/{moimId}(moimId=${moim.id})}">
                <div class="card">
                    <div>
                        <p class="categry" th:text="${moim.moimCategory}">
                            카테고리명
                        </p>
                        <p class="dday">D-Day</p>
                    </div>
                    <h3 class="card-title" th:text="${moim.title}">모임 제목 1</h3>
                    <p class="card-text">
                        <strong>장소 |</strong>
                        <span th:text="${moim.region}">위치 정보</span><br/>
                        <strong>일시 |</strong>
                        <span
                                th:text="${#temporals.format(moim.startedAt, 'yyyy-MM-dd HH:mm')}"
                        >일시 및 시간</span
                        ><br/>
                    </p>

                    <div class="participant" th:each="people:${moim.getParticipant()}">
                        <img
                                th:src="${people.getMember().getProfileImgUri()}"
                                alt="Image"
                        />
                        <div>
                            <strong>참여자 </strong
                            ><span th:text="${moim.participantCount}">0명</span
                        ><span>/</span
                        ><span th:text="${moim.totalParticipantCount}"
                        >전체참여자수</span
                        >
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

<button class="post-but" id="postButton">+</button>

<script th:inline="javascript">
    var memberId = /*[[${memberId}]]*/ '';
    const postButton = document.getElementById('postButton');
    postButton.addEventListener('click', function () {
        window.location.href = '/moims/postForm/' + memberId;
    });
</script>
</section>
</body>
</html>