<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>seomoim</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <style>
        /* 추가한 CSS 스타일 */
        .card {
            transition: transform 0.2s;
            border-radius: 30px;
        }

        .card:hover {
            transform: scale(1.05);
        }

        .card-title {
            color: #007bff;
            font-size: 30px;
        }
        .category-btn {
            margin-bottom: 0.5rem; /* 카테고리 버튼과 모임 타이틀 간 간격 조정 */
        }

        .card-text {
            margin-top:0.5rem;
            color: #555;
        }

        .navbar-brand {
            color: #41464b;
            font-weight: bold;
        }

        .nav-item{
            font-size: 14px;
        }
        .nav-item:hover {
            text-decoration: underline;
        }
        .modal-dialog {
            font-size: 14px;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
        <a class="navbar-brand" href="/">SEOMOIM</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarExample09">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown09" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">카테고리</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                        <a class="dropdown-item" href="#">STUDY</a>
                        <a class="dropdown-item" href="#">EXERCISE</a>
                        <a class="dropdown-item" href="#">TRAVEL</a>
                        <a class="dropdown-item" href="#">EAT</a>
                        <a class="dropdown-item" href="#">DRINK</a>
                        <a class="dropdown-item" href="#">COFFEE</a>

                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">관심지역</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown09">
                        <a class="dropdown-item" href="#">등록</a>
                        <a class="dropdown-item" href="#">검색</a>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-md-0">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-dark">검색</button>
                    </div>
                </div>
            </form>
            <ul class="navbar-nav ml-4 order-md-last">
                <li class="nav-login">
                    <p class="nav-link" th:text="|${member.name}님 환영합니다|">회원님</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{'/members/'+${member.getId()}}">마이페이지</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/members/logout">로그아웃</a>
                </li>
            </ul>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary btn-sm" data-toggle="modal" data-target="#myModal">
                    <strong>+</strong>모임등록하기
                </button>
                <button id="getmoims"type="button" class="btn btn-outline-dark btn-sm">참여모임보기</button>
                <button type="button" class="btn btn-outline-danger btn-sm">관심모임보기</button>
            </li>
        </ul>
    </nav>

    <script th:inline="javascript">
        var memberId = /*[[${member.id}]]*/ '';

        var editButton = document.getElementById('getmoims');

        editButton.addEventListener('click', function () {
            // 수정 버튼이 클릭되면 지정된 URL로 이동
            window.location.href = './members/moims/' + memberId;
        });
    </script>


    <main role="main">
        <div class="jumbotron">
            <div class="col-sm-8 mx-auto">
                <h1>SEOMOIM</h1>
                <p>지속적인 모임활동은 부담스럽지만 1회성 모임을 참여하고 싶은 사람들을 위한</br>
                    카테고리 와 위치 기반으로 모임을 만들고 참여할 수 있는 커뮤니티</p>
                <p>지금 시작해보세요</p>
                <p>
                    <a class="btn btn-primary" href="/docs/4.3/components/navbar/" role="button">추천모임 보러가기 »</a>
                </p>
            </div>
        </div>
    </main>


    <div class="container mt-5">
        <div class="row">
            <!-- Thymeleaf를 사용하여 리스트 출력 -->
            <div class="col-md-4 mb-3" th:each="moim:${moims}">
                <a th:href="@{/moims/{moimId}(moimId=${moim.id})}">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-start">
                        <!-- 카테고리 버튼 -->
                        <button type="button" class="btn btn-info btn-sm mb-2 category-btn"
                                th:text="${moim.moimCategory}">카테고리명
                        </button>

                        <!-- 모임 제목 -->
                        <h3 class="card-title mb-0" th:text="${moim.title}">모임 제목 1</h3>

                        <!-- 시간 및 위치 정보 -->
                        <p class="card-text">
                            <strong>시간:</strong> <span
                                th:text="${#temporals.format(moim.startedAt, 'yyyy-MM-dd HH:mm')}">일시 및 시간</span><br/>
                            <strong>위치:</strong> <span th:text="${moim.region}">위치 정보</span>
                        </p>

                        <!-- 참여자 수 -->
                        <p class="participant-count">
                            <strong>참여자 수:</strong><span th:text="${moim.participantCount}">0명</span><span>/</span><span
                                th:text="${moim.totalParticipantCount}">전체참여자수</span>
                        </p>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>

            <!-- 모임등록 모달 -->
            <div class="modal" id="myModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- 모달 헤더 -->
                        <div class="modal-header">
                            <h4 class="modal-title">모임 등록</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <!-- 모달 본문 -->
                        <div class="container mt-5">
                            <form th:action="@{/moims/{id}(id=${member.id})}" method="post">
                                <div class="form-group">
                                    <label for="title">제목:</label>
                                    <input type="text" class="form-control" id="title" name="title" required>
                                </div>
                                <div class="form-group">
                                    <label for="content">내용:</label>
                                    <textarea class="form-control" id="content" name="content" rows="4" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="startedAt">모임 날짜:</label>
                                    <input type="datetime-local" class="form-control" id="startedAt" name="startedAt" required>
                                </div>
                                <div class="form-group">
                                    <label for="totalParticipantCount">총 참여자 수:</label>
                                    <input type="number" class="form-control" id="totalParticipantCount" name="totalParticipantCount" required>
                                </div>
                                <div class="form-group">
                                    <label for="address_kakao">지역:</label>
                                    <input type="text" class="form-control" id="address_kakao" name="region" required>
                                </div>
                                <div class="form-group">
                                    <label for="moimCategory">카테고리:</label>
                                    <select class="form-control" id="moimCategory" name="moimCategory" required>
                                        <option value="STUDY">Study</option>
                                        <option value="EXERCISE">Exercise</option>
                                        <option value="TRAVEL">Travel</option>
                                        <option value="EAT">Eat</option>
                                        <option value="DRINK">Drink</option>
                                        <option value="COFFEE">Coffee</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-primary">등록</button>
                            </form>
                        </div>
                        <!-- 모달 푸터 -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Kakao 우편번호 서비스 -->
            <!-- https://postcode.map.daum.net/guide -->
            <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
            <script>
                window.onload = function() {
                    document.getElementById("address_kakao").addEventListener("click", function(){

                        new daum.Postcode({
                            oncomplete: function(data) {
                                document.getElementById("address_kakao").value = data.address;
                            }
                        }).open();
                    });
                }
            </script>

            <!-- 부트스트랩 및 jQuery 스크립트 추가 (옵션) -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        </div>
    </div>
</div>
</body>
</html>