<!DOCTYPE html>
<html th:replace="~{layout/layoutForm::layout (~{::header},~{::section})}">
<header>
  <a href="/"><span>SEOMOIM</span></a>
  <a href="/logout"><p>로그아웃</p>
    <img src="/img/logout.png" alt="logout.png"
    /></a>
</header>
<section>
  <div class="image-container">
    <a id="editButton">
      <img th:if="${member?.profileImage?.profileImageUrl}" th:src="${member?.profileImage?.profileImageUrl}" />
      <img th:unless="${member?.profileImage?.profileImageUrl}" src="img/profile2.png" />

    </a>
  </div>
    <div class="info-container">
      <p class="item1" th:text="${member.name}">name</p>
      <div class="email">
        <p class="item2" th:text="${member.email}">email</p>
        <button th:if="${member.roles.iterator().next()=='AUTH_USER'}" class="email-button">인증완료</button>
        <button th:unless="${member.roles.iterator().next()=='AUTH_USER'}" class="email-button" id="email-button">인증</button>
      </div>
      <hr />
      <div class="day">
        <p class="item3">가입일|</p>
        <p class="item4"
                th:text="${#temporals.format(member.createdAt,'yy년 MM월 dd일')}"
        >
          가입일
        </p>
      </div>
    </div>
  </div>
  <div class="create-container">
    <h3>내가만든모임</h3>
  </div>
  <div class="like-container">
    <h3>좋아요한 모임</h3>
  </div>
  <div class="latest-container">
    <h3>최근본 모임</h3>
  </div>

  <script th:inline="javascript">

    var memberId = /*[[${member.id}]]*/ '';

    var editButton = document.getElementById('editButton');

    editButton.addEventListener('click', function () {
      window.location.href = '/members/edit_form'

    });

    const emailButton = document.getElementById('email-button');

    emailButton.addEventListener('click',function (){
      window.location.href='/email/auth-form'
    })

  </script>

</section>
