<!DOCTYPE html>
<html th:replace="~{layout/layoutForm::layout (~{::header},~{::section})}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>프로필</title>
  </head>
<body>
<header>
  <a href="/"><span>SEOMOIM</span></a>
</header>
<section>
  <div class="search-container">
    <form id="search" action="/moims/search" method="post" >
      <select class="moimCategory"name="moimCategory">
        <option value=""> 카테고리 선택 </option>
        <option data-image="icon/coffee.png" value="COFFEE">COFFEE</option>
        <option data-image="icon/drink.png" value="DRINK">DRINK</option>
        <option data-image="icon/eat.png"  value="EAT">EAT</option>
        <option data-image="icon/exercise.png"  value="EXERCISE">EXERCISE</option>
        <option data-image="icon/study.png" value="STUDY">STUDY</option>
        <option data-image="icon/travel.png"  value="TRAVEL">TRAVEL</option>
      </select>
      <input type="date" name="startedAt" id="searchDate"/>
      <div>
        <input type="text" class="keyword" name="keyword" placeholder="검색어를 입력하세요"/>
        <button class="search-button" form="search">검색</button>
      </div>
    </form>
    </div>
  </div>
  <div class="result-container">
    <div th:each="moim:${moims?.data}">
      <a th:href="@{/moims/{moimId}(moimId=${moim.moimId})}">
        <div class="card">
          <div>
            <p class="categry" th:text="${moim.moimCategory}">
              카테고리명
            </p>
            <p class="dday">D-Day</p>
          </div>
          <h3 class="card-title" th:text="${moim.title}">모임 제목 1</h3>
          <p class="card-text">
            <strong>장소 |</strong>
            <span th:text="${moim.region}">위치 정보</span><br/>
            <strong>일시 |</strong>
            <span
                    th:text="${#temporals.format(moim.startedAt, 'yyyy-MM-dd HH:mm')}"
            >일시 및 시간</span
            ><br/>
          </p>
          <div class="participant-container">
            <div class="participant" th:each="people:${moim.getParticipants()}">
              <img th:if="${people?.profileImageUrl}" th:src="${people?.profileImageUrl}" />
              <img th:unless="${people.profileImageUrl}" src="/img/profile2.png" />

            </div>
            <div class="participant-detail">
              <span>참여자 </span>
              <strong th:text="${moim.participantCount}">0명</strong>
              <strong>/</strong
              ><span th:text="${moim.totalParticipantCount}"
            >전체참여자수</span>
            </div>
          </div>
        </div>
      </a>
    </div>


    <button class="post-but" id="postButton">+</button>

  <script th:inline="javascript">

    const postButton = document.getElementById('postButton');
    postButton.addEventListener('click', function () {
      window.location.href = '/moims/post-form'
    });
  </script>


</section>
</body>
</html>
